<header class=" py-5" id="header">
    <div class="container backrounded px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Create your resume in a whole new way</h1>
                    <p class="lead text-white-50 mb-4">Quick Creation with predefined templates--One click web profile creation--Upload resume from external sources.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</header>
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <button type="button" class="btn btn-primary1">
                    <img class="image" src="assets/images.png">         
                  </button>
                <h2 class="h4 fw-bolder">Create Your Free Resume</h2>
                <p>Create your resume choosing a template from a wide range of Templates.</p>
                
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <button type="button" class="btn btn-primary1">
                    <img class="image" src="assets/images1.png">         
                  </button>
                <h2 class="h4 fw-bolder">Create your Web Profile</h2>
                <p>Create your web profile from your already uploaded resume .</p>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-primary1">
                    <img class="image" src="assets/images3.png">         
                  </button>
                <h2 class="h4 fw-bolder">Upload your Resume</h2>
                <p>Create/Modify your resume by uploading your existing resume , or importing data from external sources ex Linked In.</p>
            </div>
        </div>
    </div>
</section>
